<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>About</title>
	<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
	<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>

<body>

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
				<div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
					<h4>Inamkes Gold Theatre</h4>
				</div>
				<ul class="list">
					<li><a th:classappend="${menu == 'home'} ? 'text-dark' : ' '" th:href="@{/}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:if="${session.user== nulll}" th:href="@{/register}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register</a></li>
					<li><a th:if="${session.user== nulll}" th:classappend="${menu == 'login'} ? 'text-dark' : ' '" th:href="@{/loginForm}"><i
								class="fas fa-users"></i>&nbsp;&nbsp;Login</a></li>
					<li th:if="${session.user != nulll}"><a th:href="@{/setting}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Setting</a></li>
					<li th:if="${session.user != nulll and session.user.bid==1}"><a
						th:href="@{/all-customers-records}"><i class="fas fa-users"></i>&nbsp;&nbsp;All
							Users</a></li>
					<li><a th:if="${session.user != nulll and session.user.bid==1}" th:href="@{/addMovie}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Add movie</a></li>
					<li th:if="${session.user != nulll}"><a th:href="@{/order-history}"><i class="fas fa-history"></i>&nbsp;&nbsp;Orders</a></li>
					<li><a th:classappend="${menu == 'about'} ? 'text-dark' : ' '" href="/about"><i class="fas fa-address-card"></i>&nbsp;&nbsp;About
							us</a></li>
					<li><a href="/contactus"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
					<li th:if="${session.user != nulll}"><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a></li>
				</ul>
			</div>
			<div class="col-9 login-form">
				<div class="login">
					<form action="processing" method="post">
						<div>
							<span th:text="${failed}"></span>
						</div>
						<div class="login-head">
							<h3>About Us</h3>
						</div>
						<div class="form-group">
							<p><i style="font-weight: bold;">Rights & Representation:</i> Inmakes Gold Theatre Pvt Ltd (“IGT”) is the sole 
							    organizer, producer and promoter of this Festival. Inmakes Gold Theatre Pvt Ltd (“IGT”)
								is not responsible to ticket purchaser for the organization, production, promotion
								and/or implementation of the festival or any aspect thereof (collectively, the “Festival
								Implementation”).</p>

						</div>
						
						<div class="forget">
							<p><i style="font-weight: bold;">Rescheduling:</i> Event date and time are subject to change & the rights to make these changes rest with Inmakes Gold Theatre. 
							In case of any rescheduling, you shall be notified via e-mail.</p>
						</div>

						
					</form>
					
				</div>


			</div>
		</div>

	</div>
</body>

</html>